[submodule "repositories/jupyter/DSpy00.ID_1421591"]
	path = repositories/jupyter/DSpy00.ID_1421591
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy00.ID_1421591.git
[submodule "repositories/jupyter/DSpy01.ID_1421593"]
	path = repositories/jupyter/DSpy01.ID_1421593
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy01.ID_1421593.git
[submodule "repositories/jupyter/DSpy02.ID_1421592"]
	path = repositories/jupyter/DSpy02.ID_1421592
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy02.ID_1421592.git
[submodule "repositories/jupyter/DSpy03.ID_1421594"]
	path = repositories/jupyter/DSpy03.ID_1421594
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy03.ID_1421594.git
[submodule "repositories/jupyter/DSpy04.ID_1421595"]
	path = repositories/jupyter/DSpy04.ID_1421595
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy04.ID_1421595.git
[submodule "repositories/colab/DSpy00.ID_1517611"]
	path = repositories/colab/DSpy00.ID_1517611
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy00.ID_1517611.git
[submodule "repositories/colab/DSpy02.ID_1517613"]
	path = repositories/colab/DSpy02.ID_1517613
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy02.ID_1517613.git
[submodule "repositories/colab/DSpy03.ID_1517614"]
	path = repositories/colab/DSpy03.ID_1517614
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy03.ID_1517614.git
[submodule "repositories/colab/DSpy04.ID_1517723"]
	path = repositories/colab/DSpy04.ID_1517723
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy04.ID_1517723.git
