[submodule "DSpy00.ID_1421591"]
	path = DSpy00.ID_1421591
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy00.ID_1421591.git
[submodule "DSpy01.ID_1421593"]
	path = DSpy01.ID_1421593
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy01.ID_1421593.git
[submodule "DSpy02.ID_1421592"]
	path = DSpy02.ID_1421592
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy02.ID_1421592.git
[submodule "DSpy03.ID_1421594"]
	path = DSpy03.ID_1421594
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy03.ID_1421594.git
[submodule "DSpy04.ID_1421595"]
	path = DSpy04.ID_1421595
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy04.ID_1421595.git
