[submodule "repositories/colab/DSpy00.ID_1517611"]
	path = repositories/colab/DSpy00.ID_1517611
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy00.ID_1517611.git
[submodule "repositories/colab/DSpy01.ID_1517612"]
	path = repositories/colab/DSpy01.ID_1517612
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy01.ID_1517612.git
[submodule "repositories/colab/DSpy02.ID_1517613"]
	path = repositories/colab/DSpy02.ID_1517613
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy02.ID_1517613.git
[submodule "repositories/colab/DSpy03.ID_1517614"]
	path = repositories/colab/DSpy03.ID_1517614
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy03.ID_1517614.git
[submodule "repositories/colab/DSpy04.ID_1517723"]
	path = repositories/colab/DSpy04.ID_1517723
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy04.ID_1517723.git

[submodule "repositories/jupyter/DSpy00.ID_1517554"]
	path = repositories/jupyter/DSpy00.ID_1517554
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy00.ID_1517554.git
[submodule "repositories/jupyter/DSpy01.ID_1517555"]
	path = repositories/jupyter/DSpy01.ID_1517555
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy01.ID_1517555.git
[submodule "repositories/jupyter/DSpy02.ID_1517561"]
	path = repositories/jupyter/DSpy02.ID_1517561
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy02.ID_1517561.git
[submodule "repositories/jupyter/DSpy03.ID_1517562"]
	path = repositories/jupyter/DSpy03.ID_1517562
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy03.ID_1517562.git
[submodule "repositories/jupyter/DSpy04.ID_1517563"]
	path = repositories/jupyter/DSpy04.ID_1517563
	url = ssh://git@repos-ssh.21-school.ru:2289/masters/DSpy04.ID_1517563.git
